<div class="container">
  <h2>List of All Breeds</h2>
  <mat-accordion>
    @for (option of allBreeds; track option) {
    <mat-expansion-panel [disabled]="!option.subBreed.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-button (click)="navigateToResult(option.breed)">
            {{ option.breed }}
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex">
        @for (subBreed of option.subBreed; track subBreed) {
        <button
          mat-button
          color="primary"
          (click)="navigateToResult(option.breed, subBreed)"
        >
          {{ subBreed }}
        </button>
        }
      </div>
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>
