<div class="container d-flex jus-center al-center flex-wrap p-t-2">
  <div class="d-flex flex-col flex-1">
    <div class="m-b-2">
      <h1>Uncover the Beauty of Different Dog Breeds</h1>
      <h2>A Heartwarming Collection of Dog Breeds</h2>
    </div>
    <app-dog-auto-search
      (optionSelected)="navigateToResult($event)"
    ></app-dog-auto-search>
  </div>
  <div class="random-image d-flex jus-center al-center">
    <img [src]="randomImage" alt="Playful dog" />
  </div>
</div>
<app-list-all-breeds></app-list-all-breeds>
