<div class="container d-flex jus-center al-center flex-wrap p-t-6 p-b-6">
  <div class="d-flex flex-col flex-1">
    <div class="m-b-2">
      <h1>Uncover the Beauty of Different Dog Breeds</h1>
      <h2>A Heartwarming Collection of Dog Breeds</h2>
    </div>
    <form class="search-form">
      <mat-form-field class="full-width" appearance="outline">
        <input
          type="text"
          placeholder="Search for a dog breed..."
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-icon class="white">search</mat-icon>
        <mat-autocomplete
          autoActiveFirstOption
          [displayWith]="displayFn"
          (optionSelected)="onOptionSelected($event)"
          #auto="matAutocomplete"
        >
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option"
            >{{ option.name }}
            {{ option.isBreed ? "" : option.breed }}</mat-option
          >
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="random-image d-flex jus-center al-center">
    <img [src]="randomImage" alt="Playful dog" />
  </div>
</div>
