@import "../../../assets/variables.scss";

.random-image img {
  border-radius: $border-xxl-radius;
  min-width: 12rem;
  max-width: 24rem;
  @media only screen and (max-width: 400px) {
    max-width: 12rem;
  }
}
